body {
    background-color: rgb(66, 205, 131);
    color: rgb(9, 91, 77);
    font-family: "Acme", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
    font-size: 28px;
}

button {
    background-color: rgb(9, 91, 77);
    color: white;
    font-family: "Acme", sans-serif;
    padding: 8px 15px;
    font-size: 25px;
}

.passo {
    display: none;
}

.passo.ativo {
    display: block;
}
main {
    text-align: center;
    max-width: 90%;
}
img {
    max-width: 90%;
}